<p>heroes-list works!</p>



<div class="card">

    <div class="card-header">
        <h1> heroes dragon ball </h1>
    </div>

    <div class="card-body">
        <div class= "row">
            <div class="col-md-2">
                Filtrar Por:
            </div>
            
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Ingresa el nombre de tu heroe">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <h3>Filtro:</h3>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" *ngIf="heroes.length>0">
            <thead>
                <tr>
                    <th> <button (click)="showImage()" class="btn btn-primary">{{muestraImagen? 'Ocultar':'Mostrar' }} imagen</button></th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Raza</th>
                    <th>Ki</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let heroe of heroes">
                    <td><img *ngIf="muestraImagen" [src]="heroe.imagen" [style.width.px]="imageWidth" [style.margin.px]="imageMargin"></td>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.descripcion}}</td>
                    <td>{{heroe.race}}</td>
                    <td>{{heroe.ki}}</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>